.vh-36{
    height: 36vw;
    max-height: 600px;
    
}
@media (max-width:768px) {
.mobile{

    height: 30vh;
    width: 100%;

    }
}
.logo-navbar{
    height: 3vh;
}
a{
    text-decoration: none;
}